<div class="notifications">
  <p-table
    [value]="unlockedMessages"
    styleClass="p-datatable-gridlines p-datatable-sm"
    class="pushMessageTable"
    [frozenValue]="lockedMessages"
    [scrollable]="true"
    scrollHeight="300px"
    [resizableColumns]="true"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn style="flex-basis: 25%">Data</th>
        <th pResizableColumn style="flex-basis: 25%">Length</th>
        <th pResizableColumn style="flex-basis: 25%">Time</th>
        <th style="flex: 0 0 4rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-message let-index="rowIndex">
      <tr>
        <td style="flex-basis: 25%">{{ message.message }}</td>
        <td style="flex-basis: 25%">{{ message.length }}</td>
        <td style="flex-basis: 25%">{{ message.time }}</td>
        <td style="flex: 0 0 4rem">
          <button
            pButton
            pRipple
            type="button"
            [icon]="'pi pi-lock-open'"
            (click)="toggleLock(message, true, index)"
            class="p-button-sm p-button-text"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-message let-index="rowIndex">
      <tr>
        <td>{{ message.message }}</td>
        <td>{{ message.length }}</td>
        <td>{{ message.time }}</td>
        <td style="flex: 0 0 4rem">
          <button
            pButton
            pRipple
            type="button"
            [icon]="'pi pi-lock'"
            [disabled]="lockedMessages.length >= 2"
            (click)="toggleLock(message, false, index)"
            class="p-button-sm p-button-text"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
