<form webSocketTesterValidation="inputUrl">
  <div class="p-inputgroup">
    <div class="type-menu">
      <p-dropdown
        [options]="allowedTypes"
        [(ngModel)]="selectedType"
        filterBy="code"
        optionLabel="type"
        optionValue="code"
        [style]="{ width: '10vw', height: '6vh' }"
        [ngModelOptions]="{ standalone: true }"
      >
      </p-dropdown>
    </div>
    <span class="p-input-icon-right p-input-filled">
      <input
        pInputText
        [(ngModel)]="inputUrl"
        type="text"
        placeholder="ws://"
        class="p-inputtext-lg input-url"
        name="inputUrl"
      />
      <button
        pButton
        type="button"
        label="Connect"
        class="p-button-raised p-button-lg connect-button"
        [loading]="isConnecting"
        (click)="connect()"
      ></button>
    </span>
  </div>
</form>
