.p-inputgroup {
  position: relative;
  top: 50px;
  left: 0px;
}

.input-url {
  width: 60vw;
  height: 6vh;
}

.connect-button {
  position: relative;
  height: 6vh;
  width: 8vw;
}

:host ::ng-deep .p-dropdown {
  background-color: #373535 !important;
}
:host ::ng-deep .p-dropdown-open {
  background-color: black;
}
:host ::ng-deep .p-dropdown-label {
  font-size: 40px !important;
  vertical-align: middle;
  text-align: center;
}

:host ::ng-deep .p-dropdown-item {
  font-size: 30px !important;
  text-align: right;
}
